.clinical-service-provider-container {
    margin-left: 250px;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .clinical-service-provider-title {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .add-service-provider-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .modal {
    margin-bottom: 20px;
    max-width: 400px;
  }
  
  .modal-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .modal-input {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .clinical-service-provider-list-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .clinic-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .clinic-card p {
    margin-top: 5px;
    color: #666;
  }